<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> {{.Site.Title}} </title>
	<meta name="author" content="{{.Site.Author}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href={{"output.css" | relURL}}>
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700,700i|Roboto&display=swap" rel="stylesheet">
	<link rel="icon" href={{"images/flavicon-32.png" | relURL}} sizes="32x32">
	<link rel="icon" href={{"images/flavicon-96.png" | relURL}} sizes="96x96">
	<link rel="icon" href={{"images/flavicon-194.png" | relURL}} sizes="194x194">
	<link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
	<meta property="og:title" content="Brutu Timer" />
	<meta property="og:description" content="Stay focused or burn your money" />
	<meta property="og:image" content="{{"images/BrutuTimer-og.jpg" | relURL}}" />
	<meta property="og:url" content="https://brutu.app" />
	{{/*  <meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@brutuapp" />
	<meta name="twitter:creator" content="@pawsys">
	<meta name="twitter:title" content="Brutu Timer" />
	<meta name="twitter:description" content="Stay focused or burn your money 🔥" />
	<meta name="twitter:image" content="{{"images/Brutu-twitter.jpg" | relURL}}" />  */}}
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@brutuapp">
	<meta name="twitter:description" content="Stay focused or burn your money 🔥">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Brutu Timer">
	<meta name="twitter:app:id:iphone" content="1484705834">
	<meta name="twitter:app:url:iphone" content="https://apps.apple.com/us/app/brutu-timer/id1484705834?ls=1">
	{{/*  <meta name="twitter:app:name:ipad" content="Cannonball">  */}}
	{{/*  <meta name="twitter:app:id:ipad" content="929750075">  */}}
	{{/*  <meta name="twitter:app:url:ipad" content="cannonball://poem/5149e249222f9e600a7540ef">  */}}
</head>

<body>
	{{ block "header" . }}
	<header class="h-16 p-4 flex items-center">
		<a href="{{.Site.BaseURL}}">
			<img class="h-10 inline-block mb-1" src={{"images/logo.png" | relURL}} alt="logo">
		</a>
		<div class="flex ml-auto items-center">
			<a href="https://apps.apple.com/us/app/brutu-timer/id1484705834?ls=1">
				<img class="inline-block mb-1" src={{"images/appStore.svg" | relURL}} alt="logo">
			</a>
		</div>
	</header>
	{{end}}
		<div class="all-content">
			{{ block "main" . }}

			{{end}}
		</div>
	<script src={{"app.js" | relURL}}></script>	
	<hr>
  {{ block "footer" . }}
  <footer class="flex flex-col sm:flex-row items-center justify-center sm:justify-between flex-wrap p-4">
	  <div class="flex items-center h-1612 mx-4">
		<a href="https://twitter.com/brutuapp" class="p-2">		
			<img class="h-6" src={{"images/icon-twitter.svg" | relURL}} alt="twitter-icon">
		</a>
		<a href="https://www.instagram.com/brutuapp/" class="p-2">		
			<img class="h-6" src={{"images/icon-instagram.svg" | relURL}} alt="instagram-icon">
		</a>
		<a href="https://www.facebook.com/Brutu-100164531445347" class="p-2">		
			<img class="h-6" src={{"images/icon-facebook.svg" | relURL}} alt="facebook-icon">
		</a>
		<a href="mailto:hello@brutu.app" class="p-2">		
			<img class="h-6" src={{"images/icon-mail.svg" | relURL}} alt="mail-icon">
		</a>
	</div>
	<div class=" text-gray-500 sm:ml-auto flex items-center h-12 mx-4">
		© 2019 Kant & Sysiak
	</div>
	<a href="https://apps.apple.com/us/app/brutu-timer/id1484705834?ls=1" class="h-12 flex items-center mx-4">		
		<img class="inline-block mb-1" src={{"images/appStore.svg" | relURL}} alt="logo">
	</a>	
  </footer>
  {{end}}
</body>
</html>

