

{{define "main" }}
<div class="max-w-6xl m-auto">
  <div class="flex mb-4 mt-8">
    <div class="w-1/2 flex justify-center">
      <img class="iphone-img shadow-2xl" src={{"images/iphoneApp.svg" | relURL}} alt="logo">
    </div>
    <div class="w-1/2 flex justify-center items-center">
      <div class="leading-normal max-w-md">
        <a href="#">
          <img class="icon-img w-32 shadow-2xl" src={{"images/stubborn-icon.png" | relURL}} alt="logo">
        </a>
        <h1 class="text-5xl font-bold mt-8">Stubborn Timer</h1>
        <p class="text-5xl leading-tight font-thin ">Timer that keeps you&nbsp;focus</p>
      </div>
    </div>
  </div>
</div>
  

{{end}}
