

{{define "main" }}
<div class="max-w-6xl m-auto">
  <div class="flex flex-wrap md:flex-no-wrap justify-center mb-4 my-8 leading-tight md:leading-normal">
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center text-center max-w-md py-4">
        <a href="#">
          <img class="icon-img w-32 my-shadow" src={{"images/icon.png" | relURL}} alt="logo">
        </a>
        <h1 class="text-5xl font-bold mt-8">Brutu Timer</h1>
        <p class="text-5xl leading-tight font-thin ">A timer that uses money to keep you&nbsp;focused</p>
        <a href='https://docs.google.com/forms/d/1kQzhWgCaw3UfXNhIoUYKCvhmwIvE9y7a05gVEBmYFCw/edit?usp=forms_home&ths=true'>
          <button class="my-8 bg-primary font-light tracking-wider rounded text-gray-100 py-2 px-8 border hover:border-primary hover:text-primary hover:bg-transparent hover:border-transparent">
            Request Invite
          </button>
        </a>
        {{/*  <a href="#">
            <img class="inline-block mb-1 md:hidden mt-6" src={{"images/appStore.svg" | relURL}} alt="logo">
        </a>  */}}
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center my-8 md:order-first mx-4">
      <img class="iphone-img my-shadow" src={{"images/iphoneApp.svg" | relURL}} alt="logo">
    </div>
  </div>
</div>
  

{{end}}
