

{{define "main" }}
<div class="max-w-6xl m-auto">
  <div class="flex flex-wrap justify-center mb-4 my-8 leading-tight md:leading-normal">
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center text-center max-w-md py-4 md:order-last">
        <a href="#">
          <img class="icon-img w-32 my-shadow" src={{"images/stubborn-icon.png" | relURL}} alt="logo">
        </a>
        <h1 class="text-5xl font-bold mt-8">Stubborn Timer</h1>
        <p class="text-5xl leading-tight font-thin ">A timer that keeps you&nbsp;focused</p>
        <a href="#">
            <img class="inline-block mb-1 md:hidden mt-6" src={{"images/appStore.svg" | relURL}} alt="logo">
        </a>
    </div>
    <div class="w-full md:w-1/2 flex justify-center py-4 ">
      <img class="iphone-img my-shadow" src={{"images/iphoneApp.svg" | relURL}} alt="logo">
    </div>
  </div>
</div>
  

{{end}}
