@tailwind base;


html {
	box-sizing: border-box;
}

body {
	@apply font-sans text-lg;
}

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
};


/* margin between p's */
p + p {
	@apply mt-4;
}

.markdown {
	@apply font-serif;
	> * + * {
		@apply mt-6;
	}	
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply font-bold;
	}

	h3 + p {
		@apply mt-1;
	}

	blockquote {
		@apply border-l-2 border-gray-500 pl-8 py-4 font-mono leading-normal;
	}

	ul {
		list-style-type: circle;
		list-style-position: inside;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

/******************************/
/* here only components that are reusable by me in html @apply, @apply don't work with variants (responsive:, hover:, focus:, active:) */
@tailwind components;

/******************************/
/* here goes custom css. tailwinds utilities are all thousend of styles */
@tailwind utilities;

.iphone-img {
	border-radius: 2.75rem;
}
.icon-img {
	border-radius: 2rem;
}

.my-shadow {
	box-shadow: 0 17px 50px -8px rgba(0, 0, 0, 0.25);

}

.all-content {
	min-height: calc(100vh - 4rem);
}


