@tailwind base;

html {
	box-sizing: border-box;
	@apply font-sans;
	@apply text-gray-900;
}

body {
	@apply leading-normal;
}

a {
	@apply text-primary;
}
a:visited {
	@apply text-primary-dark;
}


/* margin between p's */
p + p {
	@apply mt-4;
}

.markdown {
	@apply font-serif;
	> * + * {
		@apply mt-6;
	}	
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply font-bold;
	}

	h3 + p {
		@apply mt-1;
	}

	blockquote {
		@apply border-l-2 border-gray-500 pl-8 py-4 font-mono leading-normal;
	}

	ul {
		list-style-type: circle;
		list-style-position: inside;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

/******************************/
/* here only components that are reusable by me in html @apply, @apply don't work with variants (responsive:, hover:, focus:, active:) */
@tailwind components;

/******************************/
/* here goes custom css. tailwinds utilities are all thousend of styles */
@tailwind utilities;





